<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Recap commande</h3>
    </div>
    
    <ul class="list-unstyled components" *ngFor="let article of listPanier()">
      <li>
        <p>{{article.nom}}</p>
      </li>
    </ul>
    
    <ul class="list-unstyled CTAs">
      <li>
        <a [routerLink]="['/panier']" routerLinkActive="active">Voir le panier</a>
      </li>
    </ul>
  </nav>
  
  <!-- Page Content  -->
  <div id="content">
    
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
      <button type="button" class="btn btn-outline-success" [routerLink]="['/rechercheResto']" routerLinkActive="active">Retour</button>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <p class="nav-link"><a href="#ref_entrees">Entrées</a></p>
        </li>
        <li class="nav-item">
          <p class="nav-link"><a  (click)="allerVers('ref_plats')">Plats</a></p>
        </li>
        <li class="nav-item">
          <p class="nav-link"><a (click)="allerVers('ref_desserts')">Desserts</a></p>
        </li>
        <li class="nav-item">
          <p class="nav-link"><a (click)="allerVers('ref_boissons')">Boissons</a></p>
        </li>
      </ul>
    </nav>
    
    <!-- <table class="product" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <tr>
        <td rowspan="3"><img src="../../assets/img/superbe_soupe.jpg" width="300" height="220"></td>
        <td colspan="2">SALADE DE SOUPE</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Une magnifique salade aux doux arômes de soupe et en vrai c'est hyper lourd surtout quand tu mets des petits croutons dedans genre au four aller retour 2 minutes à 200 degrès zbré.</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>1000 €       <div class="btn-group btn-group-sm">
          <a class="btn btn-primary"><i>+</i></a>
          <a class="btn btn-danger"><i>-</i></a>
        </div></td>
        <td>
          
        </td>
      </tr>
    </table> -->
    
    <div>
      <!-- <div class="content">
        <div class="card text-dark bg-light">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="../../assets/img/superbe_soupe.jpg" width="320" height="224">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">SALADE DE SOUPE</h5>
                <p class="card-text">Une magnifique salade aux doux arômes de soupe et en vrai c'est hyper lourd surtout quand tu mets des petits croutons dedans genre au four aller retour 2 minutes à 200 degrès zbré.</p>
                <p class="card-text"><small class="text-muted">1000 €</small></p>
                <div class="row">
                  <div class="col-1"><a class="btn btn-info" ><i class="bi bi-plus-square"></i></a></div>
                  <div class="col-1"><a class="btn btn-secondary" ><i class="bi bi-dash-square"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div> -->
      

      <div>
        <h3 id="ref_entrees">Entrees</h3>
        <div class="content" *ngFor="let article of listEntrees()">
          <div class="card text-dark bg-light">
            <div class="row g-0">
              <div class="col-md-3">
                <img src={{article.img}} width="300" height="224">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{article?.nom}}</h5>
                  <p class="card-text">{{article?.description}}</p>
                  <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                  <div class="row">
                    <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                    <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        
        
        <div>
          <h3 id="ref_plats">Plats</h3>
          <div class="content" *ngFor="let article of listPlats()">
            <div class="card text-dark bg-light">
              <div class="row g-0">
                <div class="col-md-3">
                  <img src={{article.img}} width="300" height="224">
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title">{{article?.nom}}</h5>
                    <p class="card-text">{{article?.description}}</p>
                    <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                    <div class="row">
                      <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                      <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
          
          <div>
            <h3 id="ref_desserts">Desserts</h3>
            <div class="content" *ngFor="let article of listDesserts()">
              <div class="card text-dark bg-light">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src={{article.img}} width="300" height="224">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">{{article?.nom}}</h5>
                      <p class="card-text">{{article?.description}}</p>
                      <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                      <div class="row">
                        <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                        <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            
            <div>
              <h3 id="ref_boissons">Boissons</h3>
              <div class="content" *ngFor="let article of listBoissons()">
                <div class="card text-dark bg-light">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img src={{article.img}} width="300" height="224">
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <h5 class="card-title">{{article?.nom}}</h5>
                        <p class="card-text">{{article?.description}}</p>
                        <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                        <div class="row">
                          <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                          <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <!-- <div>
                <div class="content" *ngFor="let article of listplat()">
                  <div class="card text-dark bg-light">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src={{article.img}} width="300" height="224">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title">{{article.nom}}</h5>
                          <p class="card-text">{{article.description}}</p>
                          <p class="card-text"><small class="text-muted">{{article.prix}} €</small></p>
                          <div class="row">
                            <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                            <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  
                </div>
                <div>
                  <div class="content" *ngFor="let article of listdessert()">
                    <div class="card text-dark bg-light">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <img src={{article.img}} width="300" height="224">
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">{{article.nom}}</h5>
                            <p class="card-text">{{article.description}}</p>
                            <p class="card-text"><small class="text-muted">{{article.prix}} €</small></p>
                            <div class="row">
                              <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                              <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                  
                  <div>
                    <div class="content" *ngFor="let article of listboisson()">
                      <div class="card text-dark bg-light">
                        <div class="row g-0">
                          <div class="col-md-3">
                            <img src={{article.img}} width="300" height="224">
                          </div>
                          <div class="col-md-9">
                            <div class="card-body">
                              <h5 class="card-title">{{article.nom}}</h5>
                              <p class="card-text">{{article.description}}</p>
                              <p class="card-text"><small class="text-muted">{{article.prix}} €</small></p>
                              <div class="row">
                                <div class="col-1"><a class="btn btn-info" (click)="addPanier(article)"><i class="bi bi-plus-square"></i></a></div>
                                <div class="col-1"><a class="btn btn-secondary" (click)="removePanier(article)"><i class="bi bi-dash-square"></i></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div> -->
                  </div>
                </div>
