<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidebar></app-sidebar>

    <!-- Page Content  -->
    <div id="content">

        <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#fat">@fat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mdo">@mdo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#one">one</a>
                  <a class="dropdown-item" href="#two">two</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#three">three</a>
                </div>
              </li>
            </ul>
          </nav>

        <table data-spy="scroll" data-target="#navbar-example2" data-offset="0" width="1000" border="solid">
            <tr>
                <td rowspan="3"><img src="../../assets/img/superbe_soupe.jpg" width="300" height="220"></td>
                <td colspan="2">SALADE DE SOUPE</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Une magnifique salade aux doux arômes de soupe et en vrai c'est hyper lourd surtout quand tu mets des petits croutons dedans genre au four aller retour 2 minutes à 200 degrès zbré.</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>1000 €       <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-info">+</button>
                    <a class="btn btn-danger"><i>-</i></a>
                </div></td>
                <td>
                    
                </td>
            </tr>
        </table>

        <table width="1000" border="solid" *ngFor="let article of list()">
            <tr>
                <td rowspan="3"><img src={{article.img}} width="300" height="220"></td>
                <td colspan="2">{{article.nom}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{article.description}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{article.prix}} €       <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-info">+</button>
                    <a class="btn btn-danger"><i>-</i></a>
                </div></td>
                <td>
                    
                </td>
            </tr>
        </table>

        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let article of list()">
                    <td>{{article.nom}}</td>
                    <td>{{article.img}}</td>
                    <td>{{article.description}}</td>
                    <td>{{article.prix}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-info">+</button>
                            <a class="btn btn-danger"><i>-</i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
