<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Recap commande</h3>
        </div>
    
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    
        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav id="navbar-example2" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#fat">@fat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mdo">@mdo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#one">one</a>
                  <a class="dropdown-item" href="#two">two</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#three">three</a>
                </div>
              </li>
            </ul>
          </nav>

        <table data-spy="scroll" data-target="#navbar-example2" data-offset="0" width="1000" border="solid">
            <tr>
                <td rowspan="3"><img src="../../assets/img/superbe_soupe.jpg" width="300" height="220"></td>
                <td colspan="2">SALADE DE SOUPE</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Une magnifique salade aux doux arômes de soupe et en vrai c'est hyper lourd surtout quand tu mets des petits croutons dedans genre au four aller retour 2 minutes à 200 degrès zbré.</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>1000 €       <div class="btn-group btn-group-sm">
                    <a class="btn btn-primary"><i>+</i></a>
                    <a class="btn btn-danger"><i>-</i></a>
                </div></td>
                <td>
                    
                </td>
            </tr>
        </table>

        <table width="1000" border="solid" *ngFor="let article of list()">
            <tr>
                <td rowspan="3"><img src={{article.img}} width="300" height="220"></td>
                <td colspan="2">{{article.nom}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{article.description}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{{article.prix}} €       <div class="btn-group btn-group-sm">
                    <a class="btn btn-primary"><i>+</i></a>
                    <a class="btn btn-danger"><i>-</i></a>
                </div></td>
                <td>
                    
                </td>
            </tr>
        </table>

    </div>
</div>
