
<div class="row">
    <div class="col"></div>
    <div class=col-10>
        <div class="login-form bg-light mt-4 p-4">
            <form action="" method="" class="row g-3">
                <h2>Infos Restaurant:</h2>
                <div class="col-2">
                    <label>Nom</label>
                    <input type="text" name="nom" class="form-control" placeholder="Nom" [(ngModel)]="restaurant.nom">
                </div>
                <div class="col-10"></div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Description" id="floatingTextarea2" [(ngModel)]="restaurant.description" [ngModelOptions]="{standalone: true}"  style="height: 100px"></textarea>
                    <label for="Description" >Description</label>
                </div>
                
                <label>Type de restaurant</label>
                <div class="col-2">
                    <select class="form-select" required aria-label="select example" [(ngModel)]="restaurant.typeResto" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let t of type" [value]="t">{{t}}</option>
                    </select>
                </div>
                <div class="col-10"></div>

                <div class="row" style="height:150px;">
                <div class="mb-3 col-4">
                    <label for="formFile" class="form-label">Image</label>
                    <input class="form-control" type="text" id="formFile" [(ngModel)]="restaurant.img" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-4"><img src="{{restaurant.img}}" ></div>
                
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="restaurant.livraison" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="livraison">
                        Livraison
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="restaurant.emporter" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="emporter">
                        Emporter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="restaurant.open" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="open">
                        Open
                    </label>
                </div>

                <br>

                <h3>Adresse:</h3>
                <div class="col-12">
                    <label>Voie</label>
                    <input type="text" name="voie" class="form-control" placeholder="voie" [(ngModel)]="restaurant.adresse.voie">
                </div>
                <div class="col-12">
                    <label>Complement</label>
                    <input type="text" name="complement" class="form-control" placeholder="Complement" [(ngModel)]="restaurant.adresse.complement">
                </div>
                <div class="row">
                <div class="col-5">
                    <label>CodePostal</label>
                    <input type="text" name="codePostal" class="form-control" placeholder="CodePostal" [(ngModel)]="restaurant.adresse.codePostal">
                </div>
                <div class="col-7">
                    <label>Ville</label>
                    <input type="text" name="ville" class="form-control" placeholder="Ville" [(ngModel)]="restaurant.adresse.ville">
                </div>
                </div>
                <br>
                <!-- -->

                <h3>Articles:</h3>

                <table  width="1000" border="solid" *ngFor="let article of restaurant.articles">
                    <div id="article">
                    <tr>
                        <td rowspan="3"><img src={{article.img}} width="300" height="220"></td>
                        <td rowspan="1" width="10"></td>
                        <td rowcol="2">
                            <div class="row">
                                <div class="col-1">Nom:</div>
                                <div class="col-11">
                                    <input type="text" name="nom" class="form-control" placeholder="Nom" [(ngModel)]="article.nom" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col-1">Prix:</div>
                                <div class="col-11">
                                    <input type="text" name="prix" class="form-control" placeholder="Prix" [(ngModel)]="article.prix" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-1">Description:</div>
                                <div class="col-11">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Description" id="floatingTextarea2" [(ngModel)]="article.description" [ngModelOptions]="{standalone: true}"  style="height: 100px"></textarea>
                                        <label for="Description" >Description</label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-1">Image:</div>
                                <div class="col-11">
                                    <input class="form-control" type="text" id="formFile" [(ngModel)]="article.img" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col-1">Type de Plat:</div>
                                <div class="col-11">
                                    <select class="form-select" required aria-label="select example" [(ngModel)]="article.typePlat" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let t of typePlat" [value]="t">{{t}}</option>
                                    </select>
                                </div>
                                <br>
                                <div class="col-1">Vegetarien:</div>
                                <div class="col-11">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="article.vegetarien" [ngModelOptions]="{standalone: true}">
                                </div>
                                
                            </div>
                        </td>
                        <td rowspan="1"></td>
                    </tr>
                </div>
                <div class="row">
                    <div class="col-11"></div>
                    <div class="col-1">
                        <button type="submit" style="background-color: red;" (click)="supProduit(article.id)" class="btn btn-info btn-xl">
                            <!--<i class="bi bi-plus-square"></i> -->
                            Supprimer l'article
                        </button>
                    </div>
                </div>
                </table>





                <h3>Ajouter un article:</h3>

                <table  width="1000" border="solid" >
                    <div id="article">
                    <tr>
                        <td rowspan="3"><img src={{newArticle.img}} width="300" height="220"></td>
                        <td rowspan="1"></td>
                        <td rowcol="2">
                            <div class="row">
                                <div class="col-1">Nom:</div>
                                <div class="col-11">
                                    <input type="text" name="nom" class="form-control" placeholder="Nom" [(ngModel)]="newArticle.nom" [ngModelOptions]="{standalone: true}"> 
                                </div>
                                <br>
                                <div class="col-1">Prix:</div>
                                <div class="col-11">
                                    <input type="text" name="prix" class="form-control" placeholder="Prix" [(ngModel)]="newArticle.prix" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-1">Description:</div>
                                <div class="col-11">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Description" id="floatingTextarea2" [(ngModel)]="newArticle.description" [ngModelOptions]="{standalone: true}"  style="height: 100px"></textarea>
                                        <label for="Description" >Description</label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-1">Image:</div>
                                <div class="col-11">
                                    <input class="form-control" type="text" id="formFile" [(ngModel)]="newArticle.img" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="col-1">Type de Plat:</div>
                                <div class="col-11">
                                    <select class="form-select" required aria-label="select example" [(ngModel)]="newArticle.typePlat" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let t of typePlat" [value]="t">{{t}}</option>
                                    </select>
                                </div>
                                <br>
                                <div class="col-1">Vegetarien:</div>
                                <div class="col-11">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="newArticle.vegetarien" [ngModelOptions]="{standalone: true}">
                                </div>
                                
                            </div>
                        </td>
                        <td rowspan="1"></td>
                    </tr>
                </div>
                <div class="row">
                    <div class="col-11"></div>
                    <div class="col-1">
                        <button type="submit" (click)="addProduit()" class="btn btn-info btn-xl">
                            <!--<i class="bi bi-plus-square"></i> -->
                            Ajouter l'article
                        </button>
                    </div>
                </div>
            </table>


                <br>
                <br>
                <br>
                <br>
                
                <div class="col-12" >
                    <button type="submit" id="valider" class="btn btn-success float-end" (click)="saveResto()">Valider</button>
                </div>



             </form>
        </div>
    </div>
    <div class="col"><i class="bi bi-arrow-down-circle raccourci" (click)="goToBottom()" [style.top]="y+'px'"></i><i class="bi bi-arrow-up-circle raccourci" (click)="goToTop()" [style.top]="y+'px'"></i></div>
</div>


