.main{
    display: flex;
    background-color: #f4ebeb;
    background-size: 100%;
    padding-top:300px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/panier_garni.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  
  .container-fluid{
    position: relative;
    height: 100%;
  }

  #restoPopulaires:hover{
    opacity: 0,5;
  }
  .conteneur{
    position: relative;
  } 
  .rate{
    margin-bottom: -20px;
    z-index: 1;
    position:absolute;
  }
  
  

  