.main{
    display: flex;
    background-color: #f4ebeb;
    background-size: 100%;
    height:700px;
    justify-content: center;
    align-items: center;
  }
  
  .choix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 5%;
    height : 300px;
    
    box-shadow: 4px 4px 0px black;
  }
  .choix:hover{
    height : 330px;
  }
  
  #gauche{
    background-image: url("../../assets/img/Image_Restaurant.jfif");
    background-size: contain;
  }
  
  #milieu{
    background-image: url("../../assets/img/Commande.jpg");
    background-size: contain;
  }
  
  #droiteHaut{
    background-image: url("../../assets/img/livreur.jpg");
    background-size: contain;
  }

  
  #droiteBas{
    background-image: url("../../assets/img/Inscription.jpg");
    background-size: contain;
  }
  
  .droite{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width:100%;
    border:solid lightgrey;
    background-color: green;
  }
  
  /* Style the footer */
  
  

  