<div class="container-fluid">
    <div class="main row justify-content-around">
        <div class="col-3 choix" id="gauche" [routerLink]="['/rechercheResto']" routerLinkActive="active">
          <span>Restaurants à proximité</span>
        </div>
        <div id="milieu" class="col-3 choix" [routerLink]="['/connect']" routerLinkActive="active">Commander</div>
        <div class="col-3 choix">
          <div id="droiteHaut" class="droite" [routerLink]="['/connect']" routerLinkActive="active">Devenir Livreur</div>
          <div id="droiteBas" class="droite" [routerLink]="['/connect']" routerLinkActive="active">Inscrire son restaurant</div>
    </div>
  </div>
  
    