<div class="container-fluid ">
  <div class="main row justify-content-around">
    <div class="card col-3">
      <img src="../../assets/img/Restaurants/Image_Restaurant.jfif" class="card-img-top" alt="...">
    
      <div class="card-body">
        <h5 class="card-title">Les restaurants près de chez vous</h5>
        <p class="card-text">Trouver votre prochains repas dans l'un de nos nombreux restaurants partenaires</p>
        <a class="btn btn-primary" [routerLink]="['/rechercheResto']" routerLinkActive="active">Trouver un Restaurant</a>
      </div>
    </div>

    <div class="card col-3">
      <div id="restoPopulaires" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" >
          <div class="carousel-item active text-align"  *ngFor="let resto of listBestRates(); let i=index" [ngClass]="{'active':i==0}">
              <img src="{{resto.img}}" class="d-block w-100" alt="..." (click)="setResto(resto.id)">
              <div class="carousel-caption row">
                <div class="col-2"></div>
                <div class="col-8" style="background-color:#8e8b8ad9;border: solid white 2px;border-radius: 5%;">
                    <div style="font-size: 20px;">{{resto?.nom}}</div>
                    <div>Noté à {{resto?.rate}} /5</div>
                </div>
                <div class="col-2"></div>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#restoPopulaires" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#restoPopulaires" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <div class="card-body">
        <h5 class="card-title">Nos restaurants à succès</h5>
        <p class="card-text">Choisissez parmis nos restaurants partenaires les mieux notés</p>
        <a class="btn btn-primary" [routerLink]="['/acceuil']" routerLinkActive="active">Voir les restaurants</a>
      </div>
    </div>

    <div class="card col-3">
      <img src="../../assets/img/livreur.jpg" class="card-img-top" alt="...">
    
      <div class="card-body">
        <h5 class="card-title">Rejoindre la FeedMe Family</h5>
        <p class="card-text">Rejoignez-nous en inscrivant votre restaurant ou en devenant livreur</p>
        <a class="btn btn-primary" [routerLink]="['/inscriptionResto']" routerLinkActive="active">Restaurateur</a>&nbsp;&nbsp;
        <a class="btn btn-primary" [routerLink]="['/inscriptionLivreur']" routerLinkActive="active">Livreur</a>
      </div>
    </div>
  </div> 

</div>
  
    