<div class="wrapper">
  <!-- Sidebar  -->
  <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;"> 
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> 
      <svg class="bi me-2" width="40" height="32"></svg> 
      <span class="fs-4">Informations de commande</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item"><button type="button" class="btn btn-secondary" [routerLink]="['/carteResto']" routerLinkActive="active">
        <i class="bi bi-arrow-left"></i>
      </button></li>
      <hr *ngIf="connected()">
      <li *ngIf="connected()"><h4>Adresse de livraison : </h4></li>
      <li *ngIf="connected()"> {{client.adresse?.voie}} </li>
      <li *ngIf="connected()"> {{client.adresse?.codePostal}} </li>
      <li *ngIf="connected()"> {{client.adresse?.ville}} </li>
      <hr>
      <li> <button type="button" class="btn btn-secondary" (click)="validerCommande()">Valider votre panier</button></li>
    </ul>
    
  </div>
  

  <!-- Page Content  -->
  <div id="content" style="position: relative;">
    
    
    
    <div>
      <h3>Mon panier :</h3>
      <div class="content" *ngFor="let article of showPanier(); let i =index">
        <div class="card text-dark bg-light">
          <div class="row g-0">
            <div class="col-md-3">
              <img src={{article.img}} width="300" height="224">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">{{article?.nom}}</h5>
                <p class="card-text">{{article?.description}}</p>
                <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                <div class="row">
                  <div class="col-1"><a class="btn btn-secondary" (click)='delete(i)'><i class="bi bi-dash-square"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      
    </div>
    
  </div>

  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
