<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>
        
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        
        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>   

    <div>
    <div class="content">
        <h3>Mon panier :</h3>
        <div class="card text-dark bg-light" *ngFor="let article of showPanier(); let i =index">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="{{article.img}}" width="320" height="224">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{article.nom}}</h5>
                  <p class="card-text">{{article.prix}} €</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="row">
                    <a class="btn btn-warning col-1" ><i class="bi bi-dash-square" (click)='delete(i)'></i></a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    </div>
    
</div>
