<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Recap commande</h3>
      </div>
      
      <ul class="list-unstyled CTAs">
        <li>
          <a (click)='validerCommande()'>Valider mon panier</a>
        </li>
      </ul>
    </nav>
    
    <!-- Page Content  -->
    <div id="content">
      


    <div>
        <h3>Mon panier :</h3>
        <div class="content" *ngFor="let article of showPanier(); let i =index">
          <div class="card text-dark bg-light">
            <div class="row g-0">
              <div class="col-md-3">
                <img src={{article.img}} width="300" height="224">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{article?.nom}}</h5>
                  <p class="card-text">{{article?.description}}</p>
                  <p class="card-text"><small class="text-muted">{{article?.prix}} €</small></p>
                  <div class="row">
                    <div class="col-1"><a class="btn btn-secondary" (click)='delete(i)'><i class="bi bi-dash-square"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>

    </div>
    
</div>
