

/* Style the header */

.html{
  min-height:100%;
  max-width:100%;
}
.header {
    display: flex;
    align-items: flex-start;
    height:100px;
    color: white;
    background-image: url("../assets/img/bouffe1.jpg");
    background-size: 100%;
    background-position: top;
  }
  
  .header .bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    height : 50px;
    width:70%;
    border:solid white;
    background-color: #8e8b8a;
  }
  
  .header .bouton:hover{
    border:solid #8e8b8a;
    background-color:white ;
  }

  .header img{
    height:50px;

  }

  .navbartop .nav-link:hover {
      color: grey;
  }
  
  .navbartop{
    height :10%;
    position:fixed;
    top: 0;
    right: 0;
    align-items: center;
    //background-image: url("img/bouffe1.jpg");
    z-index: 1;
  }
  
  #elemnavbar{
    display: flex;
    justify-content: center;
  }

  .conteneur{
    position:relative;
  }

  .footer{
    display: flex;
    background-color: black;
    background-size: cover;
    flex-direction: column;
    color:white;
    position: absolute;
    bottom:0;
    width: 100%;
  }
  
  
  #topFoot{
    border-bottom: solid white 1px;
    width:100%;
    height: 125px;
  }

  #botFoot{
    display: flex;
    justify-content: flex-end;
    height: 15px;
    font-size: x-small;
  }

  #logobot{
    height: 15px;
  }
  
  #logo{
    height: 35px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#0d6efd00;
    color:white;
  }
  
  .navbartop .nav-link{
    color:white;
  }
  
  
  .dropdown-menu{
    background-color: #8e8b8a;
    border-radius: 5%;
    width: 70%;
  }
  .dropdown-item{
    color: white;
  }
  .dropdown-item:hover{
    color:  grey
  }
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
   }