

main{
    display: flex ;
    flex-direction: column;
    height:100%;
    width: 100%;
    flex-direction: column;
    background-color: blue;
}


.uppermain{
    min-height: 5% ;
    width:100%;
    background-color: white;
}

.lowermain{
    display: flex ;
    flex-direction:row;
    height: auto;  
    background-color: yellow;
}


.leftmain{
    height:100%;
    width:20%;
}
.rightmain{
    height: 100%;
    width:80%;
}
