

main{
    display: flex ;
    flex-direction: column;
    height:100%;
    width: 100%;
    flex-direction: column;
    background-color:#f4ebeb;
  
}


.uppermain{
    min-height: 5% ;
    width:100%;
    background-color:white;
}
/*
.middelmain{
  height: auto;
  width:100%;
  background-color: gray;


}*/

.lowermain{
    display: flex ;
    flex-direction:row;
    height: auto;  
    background-color:white;
}


.leftmain{
    height:100%;
    width:20%;
}
.rightmain{
    height: 100%;
    width:80%;
    background-color:#f4ebeb;
}

.button1 {border-radius:50%;
  border-color: white;
    height: 80px;
    width: 80px;
   // color: green;
    background-image: url("../../assets/img/logofiltre/alltypes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button:hover{
    background-size: 102% 102%;
}

.button2 {
    border-radius: 50%;
    border-color: white;
    height: 80px;
    width: 80px;
    //background-image: url("Capture.JPG");
    background-repeat: no-repeat;
    background-size: 105% 105%;
  }


  #ratebutton{
    height : 40px;
    width : 180px;
    border-radius: 5%;
    border:solid #8e8b8a;
    background-color: #aaaaaa;
  }


.colorswitch{
 background-color:#8e8b8a;
 border-color: white;
}

#statusButton{
  height : 40px;
  width : 180px;
  border-radius: 5%;
  border:solid #8e8b8a;
  background-color: #8e8b8a;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")

}

.form-check-input:checked {
  background-color: #8e8b8a;;
  border-color:white;
}
.form-check-input:focus {
  border-color:  white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #eeeeee;
}
#pricerangeButton{
  height : 40px;
  width : 180px;
  border-radius: 5%;
  border:solid #8e8b8a;
  background-color: #8e8b8a;
}
#restayrantLink{
  height : 30px;
  width : 90px;
  font-size: 11px;
  text-align: center;
  border-radius: 10%;
  border:solid #8e8b8a;
}

#nav{
  margin: 4px;
}
  // Stars
  /*
  *{
    margin: 0;
    padding: 0;
  }*/
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
 
  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  

.butsize{
  height: 78px;
  width: 78px;
}